<script id="externalEditorViewTmpl" type="text/x-underscore-template">
<iframe id="externalEditorIframe" name="externalEditor" src="/lib/poly-editor/index.html" width="600px" height="300px">

</script>